* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #FFD400;
    min-height: 100vh;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .left-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    background-color: #fff;
    color: #a34700;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #ffe97a;
  }
  
  .search-area {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
  }
  
  .search-area input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 120px;
    font-weight: bold;
  }
  
  .right-panel {
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    width: 400px;
  }
  
  .right-panel h2 {
    color: #a34700;
    margin-bottom: 8px;
    text-align: center;
  }
  
  .type-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
  }
  
  .type-buttons button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .type-buttons button:hover {
    transform: scale(1.05);
  }
  
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  }
  
  .card img {
    width: 100px;
  }
  
  .card h3 {
    color: #333;
    font-size: 16px;
  }
  
  .card .types {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
  }
  
  .type {
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  
 
  .type.grass { background-color: #78C850; }
  .type.poison { background-color: #A040A0; }
  .type.fire { background-color: #F08030; }
  .type.water { background-color: #6890F0; }
  .type.bug { background-color: #A8B820; }
  .type.normal { background-color: #A8A878; }
  .type.electric { background-color: #F8D030; }
  .type.ground { background-color: #E0C068; }
  .type.fairy { background-color: #EE99AC; }
  .type.psychic { background-color: #F85888; }
  .type.rock { background-color: #B8A038; }
  .type.ghost { background-color: #705898; }
  .type.fighting { background-color: #C03028; }
  .type.ice { background-color: #98D8D8; }
  .type.dragon { background-color: #7038F8; }
  .type.steel { background-color: #B8B8D0; }
  .type.dark { background-color: #705848; }
  .type.flying { background-color: #A890F0; }
  