*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 80vh;
    background-color: #ffe97a;
}
header{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100px;
  
}

.box{
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 60px;
  border: solid black 2px;
  width: 700px;
  height: 600px;
  margin: 0 auto;
}
.box h1{
  display: flex;
  font-family: 'Pixelify Sans', sans-serif; 
  font-size: 28px; 
}

.relativ{
  display: flex;
  justify-content: center; 
  align-items: center;      
  height: 600px;  
}

.voltar {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 25px;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    height: 60px;
    width: 40px;
    
  }
  
  .voltar:hover {
    background-color: gray;
  }

  .buttons {
    margin: 0 auto;
    height: 60px;
    width: 40px;
    
  }